@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/
/* telas até 768 não mostra menu burguer */
@media screen and (min-width: 768px) {
    /* ocultando o menu burguer */
    span#burguer {
        display: none;
    }
    /* mostrando somente o menu */
    menu {
        display: block;
    }

    /* colocando o menu lado a lado*/
    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}