@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

.espaco {
    background-image: url('../imagens/espaco.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 97.4vh;
    padding: 10px;
}

.astronauta {
    background-image: url('../imagens/astronauta.png');
    background-size: 100% 100%;
    
    position: absolute;
    width: 500px;
    height: 500px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}